#initialRoute{
    width: 100%;
  }
  
  #createbt{
    width: 100%;
  }

  #ApiPort_table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: rgb(194, 13, 13);
    font-size: 100%;
  }

  #ApiShip_table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: rgb(194, 13, 13);
    font-size: 100%;
  }

  #UserShip_table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: rgb(194, 13, 13);
    font-size: 100%;
  }

  #UserPort_table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: rgb(194, 13, 13);
    font-size: 100%;
  }

  #routes_table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: rgb(194, 13, 13);
    font-size: 100%;
  }

  #addRouteBtn{
    width: 100%;
  }

