#contentArea{
max-width: 45%;
float: left;
height:400px;
margin-left: 20px;
}

#titleArea{
display: block;
margin-bottom:10px;
text-align: center;
font-size: 20px;

}

#buttonArea{
margin:10px;
float:left;
}

#table-weather{
width:100%;
border-collapse: collapse;
}

#map{
  height: 450px;
  width: 100%;
  border: 1px solid black
  
}

    .distance-container {
        position: absolute;
        top: 300px;
        left: 1000px
        z-index: 1;
    }

    .distance-container > * {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 11px;
        line-height: 18px;
        display: block;
        margin: 0;
        padding: 5px 10px;
        border-radius: 3px;
    }


#buttons{
  width: 49.8%;
  color: rgb(45, 19, 138);
}

#Crtbuttons{
  width: 100%;
  color: rgb(45, 19, 138);
}



#dispJourney{
  font-size: 100%;
  width: 100%;
  text-align: center;
}

#Ship_table{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: rgb(194, 13, 13);
  font-size: 100%;
  text-align: center;
}


#Port_table{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: rgb(194, 13, 13);
  font-size: 100%;
  text-align: center;
}

th{
  text-align: center; 
}

#viewRoute{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: rgb(194, 13, 13);
  font-size: 100%;
  text-align: center;
}

table{
  text-align: center; 
}

#myJourney{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: rgb(194, 13, 13);
  font-size: 100%;
  text-align: center;
}

h4{
  color: rgb(31, 13, 194);
}